@charset "utf-8";

/* リセット */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 全体の基本設定 */

body {
  font-family: sans-serif;
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
}

/* ヘッダー */

header {
  text-align: center;
  padding: 40px 20px 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.level {
  font-size: 2rem;
  color: #4ade80;
  font-weight: bold;
}

/* メイン */

main {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

/* フォーム */

form {
  display: flex;
  gap: 10px;
  margin: 30px 0;
}

#task-input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

#exp-input::-webkit-outer-spin-button,
#exp-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#exp-input {
  appearance: textfield;
  padding: 6px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

form button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background-color: #4ade80;
  color: #121212;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  opacity: 0.9;
}

/* タスクリスト */

.task-list {
  list-style: none;
  margin-bottom: 30px;
}

.task-list li {
  background-color: #1e1e1e;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.task-list li input {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  position: relative;
  top: 1px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

.task-exp {
  margin-left: auto;
}

.task-list li button {
  margin-left: auto;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #ef4444;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

/* EXPステータス */

.exp-status {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 15px;
}

.exp-text {
  margin-bottom: 12px;
  font-weight: bold;
}

.exp-bar {
  width: 100%;
  height: 20px;
  background-color: #333;
  border-radius: 999px;
  overflow: hidden;
}

.exp-fill {
  width: 0%;
  height: 100%;
  background-color: #4ade80;
  transition: width 0.3s;
}